@import './variables';

.comment {
  background-color: $white;
  border: 1px solid $dark;
  padding: 1rem 1rem 2rem 1rem;
  margin: 0.5rem 0;

  .title-bar {
    margin: 1rem 0;

    .title {
      margin-left: calc(1rem + 35px);
    }


  }

  .user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
      width: 35px;
      height: 35px;
      background-image: url('../img/fb-avie.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-filter: grayscale(1);
      border-radius: 50%;
      margin: 0 1rem 0 0;
    }

    .author {
      font-size: 20px;
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .options-container {
      text-align: right;
    }
  }

  .message {
    margin: 1rem 1rem 1rem 51px;
  }
}

.starter {
  margin: 2rem 0;
}
