@import './variables';

.comment {
  background-color: $white;
  padding: 25px 1rem 1rem 1rem;
  margin: 1rem 0;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);

  .title-bar {
    margin: 8px 0 1rem 0;

    .title {
      margin-left: calc(1rem + 35px);
    }
  }

  .user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
      width: 35px;
      height: 35px;
      background-image: url('../img/fb-avie.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-filter: grayscale(1) brightness(1.1);
      border-radius: 50%;
      margin: 0 1rem 0 0;
    }

    .author {
      font-size: 20px;
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .options-container {
      text-align: right;
    }
  }

  .message-container {
    display: flex;
    margin: 1rem 0;

    .toggle-comments {
      width: 35px;
      height: 15px;
      margin: 0 1rem 0 0;
    }

    .message {
      flex: 1;
      flex-direction: column;

      &.textarea {
        display: none;
      }
    }

    &.edit {

      .message {
        display: none;

        &.textarea {
          display: block;
          font-family: gesta,Helvetica Neue,Helvetica,sans-serif;
          font-size: 16px;
          color: #555;
          resize: vertical;
          max-height: 200px;
          outline: none;
        }
      }
    }
  }

  .lower-bar {
    margin: 25px 0 1rem 51px;
    display: flex;
    justify-content: space-between;

    .editing-options {
      display: inline-block;
      font-size: 12px;
    }
  }

  .deleted {
    font-size: 12px;
    margin: 0 0 0 51px;
  }

  &.deleted {
    padding: 1rem;
  }

  &.one {
    margin-left: 2rem;
  }

  &.two {
    margin-left: 4rem;
  }

  &.three {
    margin-left: 6rem;
  }

  &.four {
    margin-left: 8rem;
  }
}

.starter {
  margin: 2rem 0;
}
