@import 'reset';
@import 'variables';

html {
  font-size: 16px;

  div {
    letter-spacing: .01rem;
    word-spacing: .02rem;
  }

  body {
    background-color: $light;
    color: $darkest;
    font-family: gesta,Helvetica Neue,Helvetica,sans-serif;

    .app {
      width: 100%;
      max-width: 620px;
      position: relative;
      margin: 0 auto;
    }
  }
}
