.toggle-comments {

  .toggle {
    background-image: url('../img/arrow.svg');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-filter: invert(0.6);
    cursor: pointer;
  }

  .toggle.show {
    transform: rotate(90deg);
  }
}
